---
version: 2
interactions:
- id: 0
  request:
    method: GET
    url: https://api.github.com/search/issues?q=is%3Apr+is%3Aopen+review-requested%3Aoctocat
    headers: {}
    body: ""
  response:
    status: 200 OK
    code: 200
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Remaining:
      - "29"
    body: |
      {
        "items": [
          {
            "number": 42,
            "title": "Fix flaky sync test",
            "html_url": "https://github.com/acme/api/pull/42",
            "state": "open",
            "draft": false,
            "updated_at": "2026-07-08T09:14:02Z",
            "user": {"login": "jdoe"},
            "pull_request": {"url": "https://api.github.com/repos/acme/api/pulls/42"},
            "repository_url": "https://api.github.com/repos/acme/api"
          }
        ]
      }
- id: 1
  request:
    method: GET
    url: https://api.github.com/search/issues?q=is%3Apr+is%3Aopen+assignee%3Aoctocat
    headers: {}
    body: ""
  response:
    status: 200 OK
    code: 200
    headers:
      Content-Type:
      - application/json
    body: |
      {"items": []}
- id: 2
  request:
    method: GET
    url: https://api.github.com/search/issues?q=is%3Apr+is%3Aopen+author%3Aoctocat
    headers: {}
    body: ""
  response:
    status: 200 OK
    code: 200
    headers:
      Content-Type:
      - application/json
    body: |
      {
        "items": [
          {
            "number": 42,
            "title": "Fix flaky sync test",
            "html_url": "https://github.com/acme/api/pull/42",
            "state": "open",
            "draft": false,
            "updated_at": "2026-07-08T09:14:02Z",
            "user": {"login": "octocat"},
            "pull_request": {"url": "https://api.github.com/repos/acme/api/pulls/42"},
            "repository_url": "https://api.github.com/repos/acme/api"
          },
          {
            "number": 99,
            "title": "an issue not a pr",
            "html_url": "https://github.com/acme/api/issues/99",
            "state": "open",
            "updated_at": "2026-07-08T08:00:00Z",
            "user": {"login": "octocat"},
            "repository_url": "https://api.github.com/repos/acme/api"
          }
        ]
      }
