---
version: 2
interactions:
- id: 0
  request:
    method: GET
    url: https://api.github.com/search/issues?q=test&per_page=100
    headers: {}
    body: ""
  response:
    status: 200 OK
    code: 200
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Remaining:
      - "28"
      Link:
      - <https://api.github.com/search/issues?q=test&per_page=100&page=2>; rel="next", <https://api.github.com/search/issues?q=test&per_page=100&page=2>; rel="last"
    body: |
      {
        "items": [
          {
            "number": 1,
            "title": "Page one PR",
            "html_url": "https://github.com/acme/api/pull/1",
            "state": "open",
            "updated_at": "2026-07-08T09:00:00Z",
            "user": {"login": "octocat"},
            "pull_request": {"url": "https://api.github.com/repos/acme/api/pulls/1"},
            "repository_url": "https://api.github.com/repos/acme/api"
          }
        ]
      }
- id: 1
  request:
    method: GET
    url: https://api.github.com/search/issues?q=test&per_page=100&page=2
    headers: {}
    body: ""
  response:
    status: 200 OK
    code: 200
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Remaining:
      - "27"
    body: |
      {
        "items": [
          {
            "number": 2,
            "title": "Page two PR",
            "html_url": "https://github.com/acme/api/pull/2",
            "state": "open",
            "updated_at": "2026-07-08T08:00:00Z",
            "user": {"login": "octocat"},
            "pull_request": {"url": "https://api.github.com/repos/acme/api/pulls/2"},
            "repository_url": "https://api.github.com/repos/acme/api"
          }
        ]
      }
