---
version: 2
interactions:
- id: 0
  request:
    method: GET
    url: https://api.github.com/search/issues?q=is%3Apr+is%3Aopen+review-requested%3Aoctocat&per_page=100
    headers: {}
    body: ""
  response:
    status: 200 OK
    code: 200
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Remaining:
      - "4990"
    body: |
      {"items": []}
- id: 1
  request:
    method: GET
    url: https://api.github.com/search/issues?q=is%3Apr+is%3Aopen+assignee%3Aoctocat&per_page=100
    headers: {}
    body: ""
  response:
    status: 200 OK
    code: 200
    headers:
      Content-Type:
      - application/json
    body: |
      {"items": []}
- id: 2
  request:
    method: GET
    url: https://api.github.com/search/issues?q=is%3Apr+is%3Aopen+author%3Aoctocat&per_page=100
    headers: {}
    body: ""
  response:
    status: 200 OK
    code: 200
    headers:
      Content-Type:
      - application/json
    body: |
      {"items": []}
- id: 3
  request:
    method: GET
    url: https://api.github.com/search/issues?q=is%3Apr+is%3Aopen+user%3Aoctocat&per_page=100
    headers: {}
    body: ""
  response:
    status: 200 OK
    code: 200
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Remaining:
      - "4989"
    body: |
      {
        "items": [
          {
            "number": 100,
            "title": "Add awesome feature",
            "html_url": "https://github.com/octocat/myrepo/pull/100",
            "state": "open",
            "draft": false,
            "updated_at": "2026-07-14T10:00:00Z",
            "user": {"login": "jdoe"},
            "pull_request": {"url": "https://api.github.com/repos/octocat/myrepo/pulls/100"},
            "repository_url": "https://api.github.com/repos/octocat/myrepo"
          },
          {
            "number": 101,
            "title": "Fix bug in sharedrepo",
            "html_url": "https://github.com/octocat/sharedrepo/pull/101",
            "state": "open",
            "draft": false,
            "updated_at": "2026-07-14T09:00:00Z",
            "user": {"login": "jdoe"},
            "pull_request": {"url": "https://api.github.com/repos/octocat/sharedrepo/pulls/101"},
            "repository_url": "https:[...]
- id: 4
  request:
    method: GET
    url: https://api.github.com/repos/octocat/myrepo/collaborators?affiliation=direct&per_page=100
    headers: {}
    body: ""
  response:
    status: 200 OK
    code: 200
    headers:
      Content-Type:
      - application/json
    body: |
      [
        {
          "login": "octocat",
          "permissions": {"push": true, "maintain": false, "admin": true}
        }
      ]
- id: 5
  request:
    method: GET
    url: https://api.github.com/repos/octocat/sharedrepo/collaborators?affiliation=direct&per_page=100
    headers: {}
    body: ""
  response:
    status: 200 OK
    code: 200
    headers:
      Content-Type:
      - application/json
    body: |
      [
        {
          "login": "octocat",
          "permissions": {"push": true, "maintain": false, "admin": true}
        },
        {
          "login": "collaborator",
          "permissions": {"push": true, "maintain": false, "admin": false}
        }
      ]
- id: 6
  request:
    method: POST
    url: https://api.github.com/graphql
    headers: {}
    body: ""
  response:
    status: 200 OK
    code: 200
    headers:
      Content-Type:
      - application/json
    body: |
      {"data":{}}
